.lead {
  display: flex;
  align-items: center;
  max-width: 984px;
  flex-direction: column;
  margin: 0 auto;
}

.lead__title {
  padding: 90px 0 32px;
  margin: 0;
  padding-bottom: 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}

.lead__subtitle {
  margin: 0;
  padding-bottom: 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
}

.lead__image {
  width: 100%;
}
