.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 830px;
  height: 482px;
  top: 1269px;
  left: 148px;
  opacity: 1;
  margin: 0;
}

.main__intro-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  margin: 0;
  padding: 0 0 40px 0;
}

.main__intro-subtitle {
  width: 738px;
  height: 68px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  margin: 0;
}

.main__intro-autor-name {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 732px;
  height: 34px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  padding: 10px 6px 0 0;
  margin: 0;
}

.main__intro-description {
  width: 722px;
  height: 182px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  padding: 32px 10px 0 0;
  margin: 0;
}
