@media screen and (max-width: 1024px) {
  .lead__title {
    padding: 90px 0 25px;
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
  }

  .lead__subtitle {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  .intro {
    margin: 0 auto;
    padding: 0 24px;
  }
  .intro__title {
    margin: 0;
    padding: 90px 13px 0 0;
    font-weight: 900;
    font-size: 45px;
    line-height: 49px;
  }

  .intro__text-quote {
    margin: 0;
    padding-top: 50px;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text-name {
    margin: 0;
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
  }

  .intro__text-description {
    margin: 0;
    padding-bottom: 88px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .foto-grid {
    display: flex;
  }

  .foto-grid__item {
    width: 100%;
  }

  .place__paragraph {
    max-width: 352px;
    width: auto;
  }

  .copyright {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .header__logo {
    width: 188px;
    height: 52px;
  }

  .lead__title {
    padding: 50px 0 16px;
    max-width: 228px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .intro {
    margin: 0 auto;
    padding: 0 16px;
  }

  .intro__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text-quote {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
  }

  .intro__text-name {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
  }

  .intro__text-description {
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .copyright {
    margin-top: 64px;
  }
}
