.page {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  font-family: "inter", Arial, sans-serif;
  padding: 0 140px;
  box-sizing: border-box;
  max-width: 1280px;
  min-height: 1883px;
  opacity: 1;
}
